.apikey-container {
    padding: 8px;
    display: flex;
    flex-direction: column;
    width: 512px;
}

.apikey-space {
    border: 1px solid black;
    margin: 4px;
    padding: 8px;
    background-color: #2B2B2B;
}

.header {
    font-size: 48px;
}

.apikey-disclaimer {
    text-align: center;
    margin-top: 24px;
    font-size: 24px;
    padding-left: 32px;
    padding-right: 32px;
    display: block;
}

.button {
    display: block;
    width: auto;
    padding-left: 48px;
    padding-right: 48px;
    margin: 32px auto 16px;
}