.avatars-container {
    margin-left: 4px;
    margin-right: 4px;
    margin-bottom: 12px;
}

.avatars-container .avatar-section:first-child {
    padding-top: 4px;
}

.avatar-section {
    margin-bottom: 4px;
}

.avatar-container {
    margin-right: 4px;
    margin-left: 4px;
    margin-top: -8px;
    padding-bottom: 4px;
    display: flex;
    align-items: center;
    overflow-x: scroll;
}

.avatar-container .card-entry-container:first-child {
    margin-left: 0;
}

.card-description-container {
    padding: 4px;
    display: flex;
    flex-direction: column;
    font-size: 18px;
}

.button {
    text-align: center;
    width: auto;
    margin-left: 8px;
    margin-top: 4px;
    margin-right: 8px;
}

.header {
    margin-top: 4px;
}

.card-entry-container {
    padding-bottom: 8px;
}

.text-disclaimer {
    font-size: 18px;
    padding: 8px;
    text-align: center;
}

.card-image {
    margin-left: 8px;
    margin-right: 8px;
}

.card-help {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 8px 4px 4px;
    vertical-align: center;
    text-align: center;
    font-size: 16px;
}

.card-question-mark {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.card-question-mark:hover {
    opacity: 0;
}

.card-load {
    width: 180px;
    height: 180px;
}

.card-load-container {
    justify-content: center;
    width: 242px;
    margin-top: 7px;
    height: 274px;
    display: flex;
    align-items: center;
}

.card-load img {
    width: 180px;
    height: 180px;
    cursor: pointer;
}

.card-load img:hover {
    filter: brightness(75%);
}

.edit-content {
    margin-top: 8px;
    display: flex;
}

.edit-image {
    -webkit-mask-box-image: url(images/imageMask.svg);
    width: 200px;
    height: 150px;
    padding: 4px;
}

.edit-image-overlay {
    -webkit-mask-box-image: url(images/imageMask.svg);
    width: 200px;
    height: 150px;
    margin-top: -158px;
    padding: 4px;
}

.edit-image-text {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 14px;
    margin-top: -40px;
    margin-left: 26px;
    z-index: 10;
    font-weight: bold;
    color: #6ae0f4;
}

.edit-image-container {
    width: 208px;
    padding: 8px;
    border: 1px solid black;
    display: flex;
    flex-flow: column;
}

.editor-container {
    width: 512px;
    height: 384px;
    padding: 16px 16px 0;
    display: flex;
    flex-direction: column;
}

.edit-settings-container {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    margin-top: -4px;
    height: 234px;
}

.field-input input {
    width: 256px;
}

.buttons-container {
    margin-top: 8px;
    display: flex;
}

.buttons-container .button {
    flex: 1;
}