html {
    height: calc(100% - 8px);
}

body {
    height: 100%;
    overflow-x: hidden;
}

.content-container {
    display: flex;
    flex-wrap: wrap;
    margin: 4px;
}

.friends-container {
    width: 100%;
    margin-bottom: 12px;
    display: flex;
    flex-direction: column;
}

.friends-list-container {
    margin: 0 4px;
    margin-bottom: 12px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.friend-entry-container {
    display: flex;
    flex-direction: column;
    width: 240px;
    margin-bottom: 0;
    align-items: center;
}

.friend-image {
    border-width: 4px;
    border-style: solid;
    width: calc(240px - 40px);
    height: 150px;
    background: url(images/loading.png);
    background-size: cover;
}

.friend-profile-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 8px;
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 4px;
    padding-bottom: 8px;
    padding-left: 4px;
    padding-right: 4px;
    cursor: pointer;
}

.friend-profile-container:hover {
    background-color: #323232;
    outline: 1px solid black;
}

.friend-name {
    color: #CB772F;
    padding: 4px;
    width: 100%;
    font-size: 28px;
    text-align: center;
}

.friend-world-container {
    display: block;
    text-align: center;
    margin: 8px;
    margin-top: 0;
    padding-top: 2px;
    padding-bottom: 4px;
    width: calc(100% - 16px);
}

.viewable-world {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.viewable-world:hover {
    background-color: #323232;
    outline: 1px solid black;
}

.friend-world {
    display: block;
    font-size: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.friend-world-instance {
    display: block;
    color: #808080;
    font-size: 18px;
}

.friend-world-type {
    color: #808080;
    display: block;
    font-size: 18px;
}

.button {
    text-align: center;
    width: auto;
    margin-left: 8px;
    margin-top: 4px;
    margin-right: 8px;
}

.message-container {
    padding: 4px;
    font-family: 'Roboto', roboto, sans-serif;
    background-color: #373737;
    color: #A9B7C6;
    font-size: 28px;
    margin-left: 8px;
    margin-right: 8px;
    border: 1px solid black;
    resize: none;
    width: auto;
    height: 110px;
}

.message-container::-webkit-input-placeholder {
    text-align: center;
    vertical-align: center;
}

.card-load {
    width: 180px;
    height: 180px;
}

.card-load-container {
    justify-content: center;
    width: 242px;
    margin-top: 7px;
    height: 274px;
    display: flex;
    align-items: center;
}

.card-load img {
    width: 180px;
    height: 180px;
    cursor: pointer;
}

.card-load img:hover {
    filter: brightness(75%);
}