@font-face {
    font-family: 'Roboto';
    src: url('font/Roboto-Regular.ttf') format('ttf');
}

body {
    margin: 0;
    background-color: #373737;
    color: #A9B7C6;
    font-family: 'Roboto', roboto, sans-serif;
}

.loading-symbol {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -1;
}

#loadingIcon {
    transition: opacity .3s ease-in-out;
}

.status-bar {
    z-index: 51;
    height: 8px;
    width: 100vw;
    position: fixed;
    bottom: 0;
}

.status-bar-color {
    z-index: 51;
    opacity: 0;
    transition: opacity .2s, background-color .2s ease-in-out;
}

.status-bar-background {
    z-index: 51;
    transition: background-position .1s;
    opacity: 0;
    background-image: url('images/bar.png');
}

.status-bar-base {
    z-index: 51;
    opacity: 1;
    background-color: grey;
}

.div:disabled {
    pointer-events: none;
    filter: grayscale(100%);
}

.button:disabled {
    filter: grayscale(100%);
}

.disabled {
    pointer-events: none;
    filter: grayscale(100%);
}

.button-bottom {
    position: absolute;
    bottom: 20px;
    left: 5%;
    width: 90% !important;
}

.button-red {
    background-color: #D25252;
    color: white;
}

.button-blue {
    background-color: #2181c3;
    color: white;
}

a:link {
    color: #6897BB;
}

*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
}

body::-webkit-scrollbar-track {
    background-color: #2B2B2B;
}

*::-webkit-scrollbar-thumb {
    border: 1px solid black;
    background-color: #919191;
}

.notification-background {
    visibility: hidden;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 100;
}

.notification-container {
    padding: 8px;
    border: 1px solid black;
    background-color: #2B2B2B;
    width: 512px;
    height: 256px;
    opacity: 1;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: flex;
    text-align: center;
    font-size: 24px;
}

.header {
    font-size: 32px;
    color: #CB772F;
    padding: 8px;
    text-align: center;
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.field-container {
    display: block;
    position: relative;
    margin-bottom: 8px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.field-container .checkbox {
    padding-left: 76px;
}

.field-input {
    font-size: 22px;
}

.field-input input {
    border: 2px solid black;
    font-size: 22px;
    padding-left: 4px;
}

.field-input select {
    border: 2px solid black;
    font-size: 22px;
    padding-left: 4px;
    width: 100%;
}

input[type="text"]:focus, input[type="password"]:focus, textarea:focus, select:focus {
    outline: 2px solid #D25252;
}

.checkbox input {
    position: absolute;
    opacity: 0;
}

.checkbox span {
    cursor: pointer;
    position: absolute;
    top: 0;
    height: 24px;
    width: 24px;
    left: 40px;
    background-color: #eee;
    border: 2px solid black;
}

.checkbox input:focus ~ span, button:focus {
    border: 2px solid #D25252;
    outline: none;
}

.checkbox:hover input ~ span {
    background-color: #ccc;
}

.checkbox input:checked ~ span {
    background-color: #2196F3;
}

.checkbox span:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox input:checked ~ span:after {
    display: block;
}

.checkbox span:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.button-green {
    background-color: #619647;
    color: white;
}

.box {
    border: 1px solid black;
    background-color: #2B2B2B;
    margin: 8px 4px;
}

.button {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 28px;
    cursor: pointer;
    padding: 4px;
    border: 1px solid black;
    width: 100%;
}

.button:active {
    filter: brightness(80%);
}

.button div {
    text-align: center;
}

.navigation-menu {
    transition: opacity 0.1s ease-in-out;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    height: calc(100vh - 8px);
    width: 100vw;
}

.navigation-menu .center-container {
    height: calc(100vh - 8px);
    background-color: rgba(0, 0, 0, 0.5);
}

.nav-container {
    width: 512px;
    height: 384px;
    padding: 16px;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-evenly;
}

.navigator-container .nav-entry {
    width: 160px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    font-size: 24px;
    user-select: none;
    cursor: pointer;
}

.navigator-container .nav-entry img {
    width: 160px;
    height: 160px;
}

.navigator-container {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-evenly;
}

.row {
    width: 100%;
    justify-content: center;
    display: flex;
}

.navigator-container .nav-entry:hover {
    filter: brightness(80%);
}

/** === CARDS === **/

.card-description-container {
    display: block;
    text-align: center;
    margin: 8px;
    margin-top: 0;
    padding-top: 2px;
    padding-bottom: 4px;
    width: calc(100% - 16px);
}

.card-entry-container {
    position: relative;
    display: block;
    flex-direction: column;
    width: 240px;
    margin-bottom: 0;
    align-items: center;
}

.card-name {
    color: #CB772F;
    padding: 4px;
    width: 100%;
    font-size: 28px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-image {
    border-width: 4px;
    border-style: solid;
    width: calc(200px);
    height: 150px;
    background: url(images/loading.png);
    background-size: cover;
}

.card-inner-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 8px;
    margin-left: 8px;
    margin-right: 8px;
    padding-bottom: 8px;
    padding-left: 4px;
    padding-right: 4px;
    cursor: pointer;
}

.card-inner-container:hover {
    background-color: #323232;
    outline: 1px solid black;
}

.card-options {
    visibility: hidden;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #2B2B2B;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
}

.card-remove-timeout {
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    font-size: 24px;
    visibility: hidden;
    background-color: black;
    color: #A9B7C6;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    width: 200px;

    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.nav-menu-button {
    width: 96px;
    height: 96px;
    cursor: pointer;
}

.nav-menu-button img {
    width: 96px;
    height: 96px;
}

.nav-menu-button:hover {
    filter: brightness(80%);
}

.nav-menu-container {
    display: block;
    position: fixed;
    width: 96px;
    height: 96px;
    z-index: 100;
    right: 16px;
    bottom: 24px;
}

.tooltip .tooltip-bottom {
    top: 100%;
    left: 50%;
    margin-left: -100px;
    z-index: 200;
}

.tooltip .tooltip-bottom::after {
    content: " ";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border: 5px solid transparent;
    border-bottom-color: black;
}

.tooltip .tooltip-top {
    margin-bottom: 4px;
    width: 120px;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
}

.tooltip .tooltip-top::after {
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border: 5px solid transparent;
    border-top-color: black;
}

.nav-hidden {
    pointer-events: none;
    opacity: 0.2 !important;
}

.nav-hidden img {
    pointer-events: none;
}