.avatar-container {

}

.box {
    border: 1px solid black;
    background-color: #2B2B2B;
    margin: 8px;
}

.avatar-image {
    border: 1px solid black;
    width: 256px;
}

.image-container {
    padding: 8px;
}

.content-container {
    display: flex;
    margin: 8px;
}

.names-container {
    text-align: center;
    padding: 8px;
    margin-top: 16px;
}

.display-name {
    font-size: 32px;
    color: #CB772F;
}

.user-name {
    font-size: 24px;
    color: #A9B7C6;
    margin-bottom: 4px;
}

.user-id {
    font-size: 16px;
    color: #808080;
}

.right-side {
    flex: 1;
}