html {
    height: calc(100% - 8px);
}

body {
    height: 100%;
    overflow-x: hidden;
}


.avatar-image {
    border-width: 4px;
    border-style: solid;
    width: 250px;
    height: 186px;
    background: url(images/loading.png);
    background-size: cover;
}

.trust-info-image {
    height: 128px;
    width: 128px;
}

.image-container {
    padding: 8px;
}

.status-container div input {
    text-align: center;
}

.content-container {
    transition: opacity 0.3s ease-in-out;
    display: flex;
    margin: 0 4px 4px 4px;
    flex-wrap: wrap;
    align-content: flex-start;
    height: 100%;
}

.names-container {
    text-align: center;
    padding: 8px;
}

.display-name {
    font-size: 32px;
    color: #CB772F;
}

.user-name {
    font-size: 24px;
    color: #A9B7C6;
    margin-bottom: 4px;
}

.user-id {
    font-size: 16px;
    color: #808080;
}

.right-side {
    flex: 1;
}

.status-container {
    padding-bottom: 12px;
}

.trust-bar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2px;
    margin-bottom: 2px;
}

.trust-bar-bg {
    padding: 8px;
    width: calc(90% - 16px);
    border: 1px solid black;
    height: 32px;
}

.trust-bar {
    background-color: #cccccc;
    width: 100%;
    height: 100%;
}

.trust-bar-shrinker {
    position: relative;
    background-color: #2B2B2B;
    right: 0;
    width: 50%;
    float: right;
    height: 100%;
}

.trust-info-container {
    margin-top: 12px;
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

.trust-info-image {
    width: 42px;
    height: 42px;
    padding-right: 8px;
}

.trust-info {
    font-size: 24px;
}

.bottom-side {
    width: 100%;
    display: block;
    height: calc(100% - 382px - 10px);
}

.app-container {
    display: flex;
    height: 100%;
    margin-top: 0;
}

.app-info-container {
    display: flex;
    flex: 1;
    padding: 16px;
    flex-wrap: wrap;
}

.app-info {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}

.app-info a {
    font-size: 16px;
    flex: 1 0 33%;
}


.app-information-container {
    flex: 1;
}

.link {
    cursor:pointer;
    color: #6897BB;
}


.button {
    width: 100% !important;
    margin-right: 8px;
}

.status-container div input{
    width: 256px;
}

@media only screen
and (min-height : 768px)
and (min-width : 1024px) {
    .app-info a {
        font-size: 24px;
    }

    .display-name {
        font-size: 48px;
    }

    .user-name {
        font-size: 32px;
    }

    .user-id {
        font-size: 24px;
    }

    .welcome-container .header a {
        font-size: 72px;
    }

    .header {
        font-size: 48px;
    }

    .trust-info {
        font-size: 32px;
    }

    .avatar-image {
        height: 260px;
        width: 350px;
    }

    .trust-info-container {
        margin-bottom: 17px;
    }

    .bottom-side {
        height: calc(100% - 476px - 10px);
    }

    .status-container div input{
        width: auto;
    }
}