<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/global.css">
    <link rel="stylesheet" type="text/css" href="../css/apikey.css">
    <title>Before you start</title>
</head>
<body>
<div class="center-container">
    <div class="apikey-container">
        <div class="apikey-space">
            <div class="header-top">
                <div class="header">
                    <a>
                        Before you start
                    </a>
                </div>
            </div>
            <div class="apikey-disclaimer">
                Usage of this app requires an API key. Use the button below to have the app set it for you.

                <button class="button button-green" id="get-button">
                    Fetch API key
                </button>
            </div>
        </div>
    </div>
</div>
<script src="../js/client/vrchat-api.js"></script>
<script src="../js/client/apikey.js"></script>
</body>
</html>