<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VRChat Home</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/global.css">
</head>
<body>

<div class="center-container">

</div>

<div class="status-bar status-bar-base" id="statusBar">
    <div class="status-bar status-bar-color" style="opacity: 0" id="statusBarColor"></div>
    <div class="status-bar status-bar-background" style="opacity: 0" id="statusBarBg"></div>
    <div class="status-bar status-bar-filler" style="opacity: 0" id="statusBarFiller"></div>
</div>
<script src="../js/client/general.js"></script>
<script src="../js/client/statusBar.js"></script>
<script src="../js/client/home.js"></script>
</body>
</html>