<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VRChat Home</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/global.css">
    <link rel="stylesheet" type="text/css" href="../css/home.css">
</head>
<body>

<div class="content-container">
    <div class="left-side">
        <div class="avatar-container box">
            <div class="image-container">
                <img alt="An error occurred" src="../css/images/loading.png" class="avatar-image" id="avatar-image">
            </div>
            <div style="display: flex; padding-left: 8px;">
                <div class="button button-green" style="width: 246px; margin-bottom: 8px; margin-top: -4px;">
                    <div>
                        Avatar Info
                    </div>
                </div>
            </div>
        </div>
        <div class="box status-container">
            <div class="header" style="padding: 4px;">
                Status
            </div>
            <div style="display: flex; justify-content: center">
                <label class="field-input">
                    <input type="text" style="width: 246px;" id="status">
                </label>
            </div>
        </div>
    </div>
    <div class="right-side">
        <div class="box welcome-container">
            <div class="header" style="font-size: 48px;">
                <a>
                    Welcome
                </a>
            </div>
        </div>
        <div class="box names-container">
            <div class="display-name" id="display-name">
                Loading...
            </div>
            <div class="user-name" id="user-name">
                Loading...
            </div>
            <div class="user-id" id="user-id">
                Loading...
            </div>
        </div>
        <div class="box trust-rating-container">
            <div class="header" style="padding: 4px;">
                Trust Rating
            </div>
            <div class="trust-bar-container">
                <div class="trust-bar-bg">
                    <div class="trust-bar-shrinker" id="trustBarShrink"></div>
                    <div class="trust-bar" id="trustBar"></div>
                </div>
                <div class="trust-info-container">
                    <img class="trust-info-image" id="trustImage" alt="Error" src="">
                    <div class="trust-info" id="trustInfo">
                        Test
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-side">
        <div class="box app-container">
            <div class="app-info-container">
                <div class="app-info" id="appInfo">

                </div>
            </div>
        </div>
    </div>
</div>


<div class="status-bar status-bar-base" id="statusBar">
    <div class="status-bar status-bar-color" style="opacity: 0" id="statusBarColor"></div>
    <div class="status-bar status-bar-background" style="opacity: 0" id="statusBarBg"></div>
    <div class="status-bar status-bar-filler" style="opacity: 0" id="statusBarFiller"></div>
</div>
<script src="../js/client/general.js"></script>
<script src="../js/client/vrchat-api.js"></script>
<script src="../js/client/statusBar.js"></script>
<script src="../js/client/home.js"></script>
</body>
</html>