<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/global.css">
    <link rel="stylesheet" type="text/css" href="../css/login.css">
    <title>Login</title>
</head>
<body>
<div class="notification-background" id="notification">
    <div class="notification-container">
        <div class="notification-area" id="alertArea">

        </div>
    </div>
</div>
<div class="center-container">
    <div class="login-space">
        <div class="login-form">
            <div class="header">
                <a>
                    VRChat.net Login
                </a>
            </div>

            <div class="field-container">
                <label class="field-input username">
                    Username
                    <input type="text" id="username">
                </label>
            </div>
            <div class="field-container">
                <label class="field-input password">
                    Password
                    <input type="password" id="password">
                </label>
            </div>
            <div class="field-container">
                <label class="field-input checkbox">
                    <input type="checkbox" id="checkbox">
                    <span></span>
                    Remember me
                </label>
            </div>
            <button class="button button-green" id="login-button">
                Login
            </button>
        </div>
        <div class="login-disclaimer">
            This program and it's author (<a target="_blank" href="https://github.com/3e849f2e5c" tabindex="-1">@3e849f2e5c</a>)
            are not
            related to the VRChat team.
            The program retrieves and modifies data on your VRChat account directly in a way that is not officially
            supported by the VRChat team, use at you own risk.
            If you <a style="font-style: italic;">really</a> care about your VRChat account DO NOT use this
            program!
        </div>
    </div>
</div>
<div class="status-bar status-bar-base" id="statusBar">
    <div class="status-bar status-bar-color" style="opacity: 0" id="statusBarColor"></div>
    <div class="status-bar status-bar-background" style="opacity: 0" id="statusBarBg"></div>
    <div class="status-bar status-bar-filler" style="opacity: 0" id="statusBarFiller"></div>
</div>
<script src="../js/client/statusBar.js"></script>
<script src="../js/client/vrchat-api.js"></script>
<script src="../js/client/login.js"></script>
<script src="../js/client/general.js"></script>
</body>
</html>