<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VRCApiary - Friends</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/global.css">
    <link rel="stylesheet" type="text/css" href="../css/friends.css">
    <link rel="stylesheet" type="text/css" href="../css/trayFriends.css">
</head>
<body>
<div class="content-container" id="content">
    <div class="friends-container">
        <div class="box header">
            VRChat Friends
        </div>
        <div class="friends-list-container" id="friendsList">

        </div>
    </div>
</div>

<script src="../js/client/vrchat-api.js"></script>
<script src="../js/client/trayFriends.js"></script>
</body>
</html>