<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VRCApiary - Randomizer</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/global.css">
    <link rel="stylesheet" type="text/css" href="../css/home.css">
    <link rel="stylesheet" type="text/css" href="../css/randomizer.css">
    <link rel="stylesheet" type="text/css" href="../css/friends.css">
</head>
<body>
<div class="center-container loading-symbol" style="opacity: 1;">
    <img src="../css/images/pageloading.png" alt="Now Loading" id="loadingIcon">
</div>
<div class="content-container" id="content" style="opacity: 0;">
    <div class="left-side">
        <div class="avatar-container box">
            <div class="image-container">
                <img alt="An error occurred" src="../css/images/unknown.png" class="avatar-image" id="worldImage"
                     onerror="this.src='../css/images/error.png';">
            </div>
            <div style="display: flex; padding-left: 8px;" class="moderations-container">
                <div class="button button-blue" style="margin-bottom: 8px; margin-top: -4px; margin-right: 2px;" id="nextWorldButton">
                    <div>
                        Next
                    </div>
                </div>
                <div class="button button-green" style="margin-bottom: 8px; margin-top: -4px; margin-left: 2px;" id="goButton">
                    <div>
                        Go
                    </div>
                </div>
            </div>
            <div style="display: flex; padding-left: 8px;" class="moderations-container">
                <div class="button button-red" style="margin-bottom: 8px; margin-top: -4px;" id="addMembers">
                    <div>
                        Add Members
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="right-side">
        <div class="box welcome-container">
            <div class="header" style="font-size: 48px;">
                <a>
                    Randomizer
                </a>
            </div>
        </div>
        <div class="box names-container">
            <div class="display-name" id="worldName">
                No world selected
            </div>
            <div class="user-name" id="creatorName">
                &#8203;
            </div>
            <div class="user-id" id="worldId">
                &#8203;
            </div>
        </div>
        <div class="box trust-rating-container">
            <div class="trust-bar-container">
                <textarea id="description" class="description-area" readonly>
                </textarea>
            </div>
        </div>
    </div>
    <div class="bottom-side">
        <!-- TODO change this into notification area and move app info to settings -->
        <div class="box app-container">
            <div class="app-info-container">
                <div class="app-info" id="notifyArea">
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Edit menu -->
<div class="navigation-menu" style="visibility: hidden; opacity: 0;"  id="popupMenu">
    <div class="center-container">
        <div class="box notification-container" id="memberPopup">
            <div class="friends-container">
                <div class="header">
                    <div class="field-container">
                        <label class="field-input">
                            <input id="searchInput" type="text" style="height: 32px; font-size: 32px; width: 50%; text-align: center;">
                        </label>
                        <div class="button button-red" style="padding-right: 32px; padding-left: 32px;" id="popupExit">
                            <div>
                                Exit
                            </div>
                        </div>
                    </div>
                </div>

                <div class="app-container">
                    <div class="app-info-container">
                        <div class="app-info" id="socialList">

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="nav-menu-container">
    <div class="nav-menu-button tooltip" id="navButton">
        <img src="../css/images/logo/logo128.png">
        <label class="tooltiptext tooltip-top">
            Menu
        </label>
    </div>
</div>

<div class="navigation-menu" style="visibility: hidden; opacity: 0;" id="navMenu">
    <div class="nav-exit" id="navExit">
        <img src="../css/images/nav/exit.png">
    </div>
    <div class="center-container">
        <div class="navigator-container">
            <div class="row">
                <div class="nav-entry tooltip" id="navFriends">
                    <img src="../css/images/nav/friends.png" alt="An error occurred">
                    <label class="tooltiptext tooltip-top">
                        Friends
                    </label>
                </div>
                <div class="nav-entry tooltip" id="navSocial">
                    <img src="../css/images/nav/social.png" alt="An error occurred">
                    <label class="tooltiptext tooltip-top">
                        Social
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="nav-sub-container">
                    <div class="nav-entry tooltip nav-small" id="navWorldHopper">
                        <img src="../css/images/nav/random.png" alt="An error occurred">
                        <label class="tooltiptext tooltip-top">
                            Roulette
                        </label>
                    </div>
                    <div class="nav-entry tooltip" id="navWorlds">
                        <img src="../css/images/nav/worlds.png" alt="An error occurred">
                        <label class="tooltiptext tooltip-top">
                            Worlds
                        </label>
                    </div>
                </div>

                <div class="nav-entry tooltip" id="navHome">
                    <img src="../css/images/nav/home.png" alt="An error occurred">
                    <label class="tooltiptext tooltip-top">
                        Home
                    </label>
                </div>
                <div class="nav-entry tooltip" id="navAvatars">
                    <img src="../css/images/nav/avatar.png" alt="An error occurred">
                    <label class="tooltiptext tooltip-top">
                        Avatars
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="nav-entry tooltip" id="navSettings">
                    <img src="../css/images/nav/settings.png" alt="An error occurred">
                    <label class="tooltiptext tooltip-top">
                        Settings
                    </label>
                </div>

                <div class="nav-entry tooltip" id="navParser">
                    <img src="../css/images/nav/parser.png" alt="An error occurred">
                    <label class="tooltiptext tooltip-top">
                        Parser
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="status-bar status-bar-base" id="statusBar">
    <div class="status-bar status-bar-color" style="opacity: 0" id="statusBarColor"></div>
    <div class="status-bar status-bar-background" style="opacity: 0" id="statusBarBg"></div>
    <div class="status-bar status-bar-filler" style="opacity: 0" id="statusBarFiller"></div>
</div>
<script src="../js/client/general.js"></script>
<script src="../js/client/vrchat-api.js"></script>
<script src="../js/client/parserHandler.js"></script>
<script src="../js/client/statusBar.js"></script>
<script src="../js/client/randomizer.js"></script>
</body>
</html>